<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment</title>

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    style="
      background-image: url(/static/images/bg3.jepg);
      background-size: cover;
    "
  >
    <!-- NAV BAR START -->
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #81b1ce"
    >
      {% comment %} nav barcolor 1 95f0f5, aad6ec {% endcomment %}
      <div class="container-fluid">
        {% comment %} <a class="navbar-brand" href="#">NotesApp</a> {%
        endcomment %}
        <a class="navbar-brand" href="#">
          <img
            src="/static/images/footer_logo_png.png"
            alt="Logo"
            width="150"
            height="100"
            class="d-inline-block align-text-top"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Appointments</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contact"
                >Contact</a
              >
            </li>
          </ul>
          {% comment %}
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            {% endcomment %}
          </form>
          {% if user is none %}
          <button
            class="btn btn-outline-primary mx-2"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
            type=""
          >
            Login
          </button>
          <button
            class="btn btn-outline-warning mx-1"
            data-bs-toggle="modal"
            data-bs-target="#signupModal"
            type=""
          >
            Signup
          </button>
          {%else%} 
          <a href="/user_logout" class="btn btn-outline-danger mx-1"> Logout</a>
         
          <!-- Example split danger button -->
          <div class="dropdown mx-5">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{user}}
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item mx-2" href="/user_logout">Logout</a>
              </li>
            </ul>
          </div>
          {%endif%}
        </div>
      </div>
    </nav>
    <!-- NAV BAR END -->

    <hr />
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>WELCOME!</strong> Login Success !
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <!-- <div class="container">
      <center>
          <h1>Current Role is <i>{{c_role}}</i></h1>
      </center>
      <hr> -->
    
{% if c_role == 'Doctor' %}
  <!-- Doctor user -->
  <center><h2>Welcome Doctor to Appointment Page</h2></center>

    {{alldata}}
    <table class="table table-success table-striped">
      <tr>
          <th>ID</th>
          <th>Patient Name</th>
          <th>email</th>
          <th>Mobile</th>
          <th>Health Issue</th>
          <th>Doctor to consult</th>
          <th>Description</th>
          <th>Appointment</th>
          
          
      </tr>
      {% for i in data %}
      <tr>
          <td>{{i.id}}</td>
          <td>{{i.patient_name}}</td>
          <td>{{i.email}}</td>
          <td>{{i.mobile}}</td>
          <td>{{i.health_issue}}</td>
          <td>{{i.doctor_name}}</td>
          <td>{{i.comments}}</td>
          <td><a href="/grantappointment">Grant Appointment</a></td>
        
        
      </tr>
      {% endfor %}
    </table>

  <!-- Doctor user end -->

{% else %}

  <!-- Form Patient -->
  <center><h2>Welcome Paitent to Appointment Page</h2></center>

  <div class="container my-5">
    <form method="POST" enctype="multipart/form-data">
      {%csrf_token%}
    

      <div class="form-floating mb-3">
        <input
          type="text"
          value="" name="patient_name"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Paitent name</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          value="" name="mobile"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Mobile</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          value="" name="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          name="health_issue"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Health Issue</label>
      </div>


        <div class="form-floating mb-3">
          <input
            type="text"
            name="doctor_name"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Doctor for Consultation</label>
        </div>

    
      <div>
        
        <label for="formFileLg" class="form-label"
          >Attach report</label
        >
        <input
          class="form-control form-control-lg"
          name="my_files"
          id="formFileLg"
          type="file"
        />
      </div>


      <div class="mb-3 my-3">
      
        <label for="exampleFormControlTextarea1" class="form-label">
          Describe the issue</label
        >
    
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          name="comments"
          rows="3"
        ></textarea>
      </div>

      <button type="submit" class="btn btn-primary btn-lg">
        Submit Post
      </button>
    </form>
  </div>
  <!-- Form Patient end -->
{%endif%}

  </body>
</html>
