<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WELCOME</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <title>Reset your Password</title>
</head>
<body style="background-image: url(/static/images/bg3.png); background-size:cover;">
    <center><h2>Welcome to Reset password page</h2></center>

<br>
<br>


    <hr>
    {%if msg %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> For reset password:</strong>{{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
<center>        <div class="col-md-3">
            <label for="exampleInputPassword1"  class="form-label">Enter your email</label>
            <input type="email" class="form-control" name="email"  id="exampleInputPassword1">
        </div>

        <div class="col-md-3">
            <label for="exampleInputPassword1"  class="form-label">Enter your mobile</label>
            <input type="number" class="form-control" name="mobile"  id="exampleInputPassword1">
        </div>
<br>
        <div>
        <button type="submit" class="btn btn-primary" name="resetpass" value="login" >Submit</button>
    </div></center>

    </form>
</body>
</html>